* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background-color: #ffe4e1;
  color: white;
}
.logo {
  margin-left: 20px;
  font-size: 30px;
  color: #db7093;
}
.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  width: 100%;
}
.Home,
.Sign {
  text-decoration: none;
  color: #db7093;
  font-size: 16px;
  padding: 2px 10px;
  margin: 0 10px;
  /*cursor: pointer;*/
}
.Sign {
  border: 1px solid yellow;
  border-radius: 5px;
}
.mobile-menu-icon {
  display: none;
}

.subli {
  text-decoration: none;
}

@media screen and (max-width: 780px) {
  .logo {
    display: flex;
    position: absolute;
    color: #db7093;
    top: 15px;
    left: 35px;
  }
  .nav-links {
    display: none;
  }

  .nav-links-mobile {
    position: relative;

    /*display: block;
    */
    list-style: none;
    background-color: #ffe4e1;
    transition: all 0.5s ease-out;
    width: 100%;
  }

  .Home,
  .Sign {
    text-decoration: none;
    display: flex;
    font-size: 12px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    color: #cd5c5c;

    transition: all 0.5s ease;
  }

  .Sign {
    border: none;
    color: yellow;
  }

  .mobile-menu-icon {
    display: block;
    position: absolute;
    font-size: 30px;
    color: white;
    background-color: #ffe4e1;
    border: none;
    outline: none;
    top: 15px;
    right: 25px;
  }
  .subli {
    text-decoration: none;
  }
}
